<nav class="nav-new">
  <ul class="list">
    <li>
      <a href="javascript:void(0)" class="filtercategory">ACCESSORIES</a>
      <ul>
        <li>
          <a href="/collections/all-products/accessories">ALL PRODUCTS</a>

        </li>
        {% comment %}
        <li>
          <a href="/collections/all-products/hats">HATS</a>
        </li>
        {% endcomment %}
        <li>
          <a href="/collections/all-products/training-belts">TRAINING BELTS</a>
        </li>
        <li>
          <a href="/collections/all-products/lifting-straps">LIFTING STRAPS</a>
        </li>
        </ul>
    </li>
    <li class="sizes">
      <a href="javascript:void(0)" class="filtercategory">SIZE</a>
      <div class="sizes">
        <a class="sizefilter" data-size="m-33">
          <div class="size accessories" data-size-select="m-33">
            M/33
          </div>
        </a>
        <a class="sizefilter" data-size="l-36">
          <div class="size accessories" data-size-select="l-36">
            L/36                            
          </div>
        </a>
        <a class="sizefilter" data-size="xl-39">
          <div class="size accessories" data-size-select="xl-39">
            XL/39
          </div>
        </a>
        <a class="sizefilter" data-size="2xl-42">
          <div class="size accessories" data-size-select="2xl-42">
            2XL/42
          </div>
        </a>
        {% comment %}
        <a class="sizefilter" data-size="s-m">
          <div class="size accessories" data-size-select="s-m">
            S-M
          </div>
        </a>
        <a class="sizefilter" data-size="l-xl">
          <div class="size accessories" data-size-select="l-xl">
            L-XL                            
          </div>
        </a>
        {% endcomment %}
      </div>
    </li>
    <li>
      <a href="javascript:void(0)" class="filtercategory">COLOR</a>
      <div class="nav-cp">
        <div class="colorPicker">
          <div class="colorList">
            <a class="colorfilter" data-color="black"><div title="#FF6900" class="colorContainer" style="background: rgb(0, 0, 0);"></div></a>
            <a class="colorfilter" data-color="white"><div title="#FF6900" class="colorContainer" style="border: 1px solid black;"></div></a>
            <a class="colorfilter" data-color="gray"><div title="#FF6900" class="colorContainer" style="background: rgb(128, 128, 128)"></div></a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>