<div class="announcement">

  <section role="complementary" class="white-back links no-fouc">
    <!--   <p>UP TO 70% OFF SITEWIDE</p> -->
          <p class="o">🚨GEAR UP YOUR GIFTING 🎁 UP TO 50% OFF SITEWIDE, PLUS...</p>
          <p class="o">SHOP THE TLF APP NOW FOR AN EXTRA 20% OFF💥</p>    
          <p class="o">❄️BUY 1, GET 2 FREE GIFT UP DEALS</p>          
          <p>✈️FREE SHIPPING GLOBALLY ON ORDERS OVER $150 USD📦</p>
          <p>BUY NOW, PAY LATER OPTIONS</p>
    <!--   <p>FREE RETURNS NOW FOR 60 DAYS*</p> -->
    <!--   <p class="o">🔥 35% OFF EVERYTHING + EXTRA 20% OFF ON APP</p>
    <!--   <p><a href="https://tlfapparel.zendesk.com/hc/en-us" tabindex="0">ORDERS SHIP GLOBALLY 📦 ✈️</a></p> -->
  </section>
</div>

<style>
  .no-fouc {
    display: none;
  }
  .o{
color:#CCFF00;
    font-weight:600;
  }

</style>