<div class="modal-container">
  <div class="close" id="bfcmClose">    <svg class="icon icon-close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
    </svg></div>
  <div class="modal-content-bfcm">
 Outlet Items
    <div class="demo-modal">
      
      <div class="grid__item small--one-half medium-up--one-quarter aos-init aos-animate" data-aos="row-of-4">
        <div class="grid-product__content">
          <div class="grid-product__image-mask">
            <a href="/collections/outlet/mens+tops" class="grid-product__link ">        
              <div class="image-wrap" style="height: 0; padding-bottom: 150.0%;">
                <img class="grid-product__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/2665/0346/products/camo-french-terry-workout-hoodie-men-hoodies-sweatshirts-jackets-tlf-silver-s-824545.jpg?v=1599851766" alt="Camo French Terry Workout Hoodie - Silver" sizes="396px">
              </div>
            </a>
            <div class="grid-product__meta">
              <div class="grid-product__title">Men's Tops</div>
              <div id="tlf_color_product_grid">Starting at $10</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="grid__item small--one-half medium-up--one-quarter aos-init aos-animate" data-aos="row-of-4">
        <div class="grid-product__content">
          <div class="grid-product__image-mask">
            <a href="/collections/outlet/mens+bottoms" class="grid-product__link ">        
              <div class="image-wrap" style="height: 0; padding-bottom: 150.0%;">
                <img class="grid-product__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/2665/0346/products/camo-french-terry-workout-joggers-men-joggers-pants-tlf-black-s-294093.jpg?v=1599851907" alt="Camo French Terry Workout Hoodie - Black" sizes="396px">
              </div>
            </a>
            <div class="grid-product__meta">
              <div class="grid-product__title">Men's Bottoms</div>
              <div id="tlf_color_product_grid">Starting at $15</div>
            </div>
          </div>
        </div>
      </div>  
      
            <div class="grid__item small--one-half medium-up--one-quarter aos-init aos-animate" data-aos="row-of-4">
        <div class="grid-product__content">
          <div class="grid-product__image-mask">
            <a href="/collections/graphic-t-shirts/mens" class="grid-product__link ">        
              <div class="image-wrap" style="height: 0; padding-bottom: 150.0%;">
                <img class="grid-product__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/2665/0346/products/20000-TLF-Elevate-T-Shirt-HeatherDeepTeal-SIDE-1_d45c4aba-957d-40b1-9b5c-4ff910dee3c4.jpg?v=1600107535" alt="TLF Elevate T-Shirt Heather Deep Teal" sizes="396px">
              </div>
            </a>
            <div class="grid-product__meta">
              <div class="grid-product__title">Men's Graphic T's</div>
              <div id="tlf_color_product_grid">Starting at $10</div>
            </div>
          </div>
        </div>
      </div>
      
            <div class="grid__item small--one-half medium-up--one-quarter aos-init aos-animate" data-aos="row-of-4">
        <div class="grid-product__content">
          <div class="grid-product__image-mask">
            <a href="/collections/outlet/womens+tops" class="grid-product__link ">        
              <div class="image-wrap" style="height: 0; padding-bottom: 150.0%;">
                <img class="grid-product__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/2665/0346/products/privy-camo-gym-to-street-jacket-women-hoodies-sweatshirts-jackets-tlf-purple-camo-xs-235227.jpg?v=1600198671" alt="Privy Camo Gym To Street Jacket - Purple" sizes="396px">
              </div>
            </a>
            <div class="grid-product__meta">
              <div class="grid-product__title">Women's Tops</div>
              <div id="tlf_color_product_grid">Starting at $10</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="grid__item small--one-half medium-up--one-quarter aos-init aos-animate" data-aos="row-of-4">
        <div class="grid-product__content">
          <div class="grid-product__image-mask">
            <a href="/collections/outlet/womens+bottoms" class="grid-product__link ">        
              <div class="image-wrap" style="height: 0; padding-bottom: 150.0%;">
                <img class="grid-product__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/2665/0346/products/covert-camo-gym-to-street-joggers-women-joggers-pants-tlf-purple-camo-xs-830025.jpg?v=1600100221" alt="Covert Camo Gym To Street Joggers - Purple" sizes="396px">
              </div>
            </a>
            <div class="grid-product__meta">
              <div class="grid-product__title">Women's Bottoms</div>
              <div id="tlf_color_product_grid">Starting at $15</div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid__item small--one-half medium-up--one-quarter aos-init aos-animate" data-aos="row-of-4">
        <div class="grid-product__content">
          <div class="grid-product__image-mask">
            <a href="/collections/outlet/hats" class="grid-product__link ">        
              <div class="image-wrap" style="height: 0; padding-bottom: 150.0%;">
                <img class="grid-product__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/2665/0346/files/29006-TLF-Classic-Hat-Grey-FRONT-1000x1500_d87d2c05-c474-4cc5-9855-16aa7024f266.jpg?v=1604684494" alt="TLF Classic Hat Grey" sizes="396px">
              </div>
            </a>
            <div class="grid-product__meta">
              <div class="grid-product__title">Hats</div>
              <div id="tlf_color_product_grid">Starting at $12</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>