<div class="career-top-info">
<span class="caption-with-letter-spacing">TLF Apparel</span>
{% if article.tags contains "FORT LAUDERDALE" %}<br><span class="caption-with-letter-spacing location">Fort Lauderdale, FL, USA</span>{% endif %}
{% if article.tags contains "MEDICAL" %}<br><span class="caption-with-letter-spacing details">Dental, Medical</span>{% endif %}
{% if article.tags contains "FULL TIME" %}<br><span class="caption-with-letter-spacing details">Full Time</span>{% endif %}
{% if article.tags contains "PART TIME" %}<br><span class="caption-with-letter-spacing details">Part Time</span>{% endif %}
</div>