<style>
#password-modal {
    width: 100%;
    min-height: 100%;
    height: 75000px;
    background-color: #f6f6f6;
    position: absolute;
    z-index: 2;
}
.password-container {
    position: fixed;
    top: 40%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 25px;
    right: 0;
    left: 0;
    padding: 40px;
    background-color: #fff;
}
  
.password.label {
    display: block;
    padding: 0em 0em 0em 0em;
    margin: 0px 0px 0px 0px;
    font-size: 10px;
    color: #000000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0em;
    font-family: 'Roboto', sans-serif;
}

.password-container input {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}
</style>
<div id="password-modal">
			<div class="password-container">
				<p class="password label">Access Granted</p>
				<input id="password_input" type="password" name="" value="" placeholder="SCULPT-VIP"/>
                    <input type="submit" type="button" value="Shop Now" onclick="checkPassword()" />
			</div>
		</div>