<nav class="nav-new">
  <ul class="list">
        <li>
          <a href="/collections/all-products">ALL PRODUCTS</a>
        </li>
            <li>
          <a href="/collections/new-releases">NEW RELEASES</a>
        </li>
        <li>
          <a href="/collections/best-sellers">BEST SELLERS</a>
        </li>
    </ul>
    <li class="sizes">
      <a href="javascript:void(0)" class="filtercategory">SIZE</a>
      <div class="sizes">
        <a class="sizefilter" data-size="s-m">
          <div class="size accessories" data-size-select="s-m">
            S-M
          </div>
        </a>
        <a class="sizefilter" data-size="l-xl">
          <div class="size accessories" data-size-select="l-xl">
            L-XL                            
          </div>
        </a>
      </div>
    </li>
    <li>
      <a href="javascript:void(0)" class="filtercategory">COLOR</a>
      <div class="nav-cp">
        <div class="colorPicker">
          <div class="colorList">
            <a class="colorfilter" data-color="black"><div title="#FF6900" class="colorContainer" style="background: rgb(0, 0, 0);"></div></a>
            <a class="colorfilter" data-color="white"><div title="#FF6900" class="colorContainer" style="border: 1px solid black;"></div></a>
            <a class="colorfilter" data-color="gray"><div title="#FF6900" class="colorContainer" style="background: rgb(128, 128, 128)"></div></a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>