
<div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
      <div class="isp-collection">
    <!-- IS+ Smart Nav -->
<div id="isp_search_result_page"></div><script src="https://shopify.instantsearchplus.com/js/search_result_loading_page.js?smart_navigation=1&isp_platform=shopify&UUID=08d5f1e2-7f8f-442d-bd5e-425c30157b9c&store_id=26650346"></script>    <!-- IS+ Smart Nav -->
    </div>
</div>
	
{{ 'isp_script.js' | asset_url | script_tag }}