<div class="cookie-disclaimer">
		<div class="container d-md-flex justify-content-md-between align-items-md-center">
	    	<p class="mt-0 mb-md-0">
<span class="new-cookie-line">Cookies</span><br>
This website uses cookies to provide our services, analyze our traffic and performance, and ensure you get the best experience on our website. We also share information about your use of our site with our social media, advertising, and analytical partners. For more information, please review our <a href="/policies/privacy-policy" style="display:inline-block;" title="Data protection">Privacy / Cookie Policy</a>.</p>
	    	<button type="button" class="btn btn-sm btn-small ml-md-2 accept-cookie">Accept Cookies</button><br>
	  </div>
</div>

<style>
p.mt-0.mb-md-0 {
    font-size: 12px;
    margin-bottom: 25px;
  max-width: 900px;
}
.container {
  max-width: 1200px;
}
.cookie-disclaimer {
    position: fixed;
    z-index: 99999999999999;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    font-size: 14px;
    color: black;
    display: none;
    padding: 2.7rem 0;
    border: #e4e4e4 1px solid;
}
.cookie-disclaimer .btn {
    background: none;
    color: white;
    border-radius: 0;
    font-size: inherit;
    float: right;
    padding: 6px 16px;
    min-width: unset;
    background-color: black;
    font-weight: 600;
}
.cookie-disclaimer .btn:hover {
    background: #ffffff;
    color: #000000;
    border: 2px solid black;
}
.cookie-disclaimer a {
  text-decoration: underline;
  color: black;
}
  span.new-cookie-line {
    font-weight: bold;
    font-size: 1.9rem;
}
</style>