  <a href="#product-technology-benefits" data-accordian-action="">
    <h5>Product Technology Benefits <span>+</span></h5>
  </a>
  <div id="product-technology-benefits" data-accordian-target="">
    <br>
  {% if product.tags contains 'FLEECE TECH DNA' %}
  <strong>FLEECE TECH DNA™</strong> Our exclusive Fleece Tech DNA fabric development process is engineered with a multi-phase micro brushing and pre-washing process to ensure the highest level of ultra-soft feel and comfort.  <br> <br>
  {% endif %}
  {% if product.tags contains 'MESH TECH DNA' %}
  <strong>MESH TECH DNA™</strong> lightweight, breathable, and ultra-soft 4-way stretch mesh fabric is for engineered for next-level comfort and mobility delivering premium GYM-TO-STREET™ style for wherever life takes you. <br> <br>
  {% endif %}
  {% if product.tags contains 'SUPERCHARGED INTERLOCK DNA' %}
  <strong>SUPERCHARGED INTERLOCK DNA™</strong> Our double-knit construction delivers wear and tear resilience that can withstand your most intense MAX-OUT training days. This next-level fabric provides a slick and cooling, ultra-soft hand feel, engineered with anti-microbial moisture-wicking and breathability technology, that stands up to your sweatiest sesh's while delivering the perfect body-sculpting fit. <br> <br>
  {% endif %}
  {% if product.tags contains 'SWEAT-WICKING DNA' %}
  <strong>SWEAT-WICKING DNA™</strong> Technology provides breathable moisture-wicking properties helping to keep you cool and dry. <br> <br>
  {% endif %}
  {% if product.tags contains 'SEAMLESS TECH DNA' %}
  <strong>SEAMLESS TECH DNA™</strong> Knitted to shape, contour, and move with your body for unmatched comfort, support, and performance. <br> <br>
  {% endif %}
  {% if product.tags contains 'COTTON LUXE DNA' %}
  <strong>COTTON LUXE DNA™</strong> TLF’s exclusive and premium engineered stretch cotton fabric is the new gold standard for cotton. It’s cool to the skin, breathable, wicks away sweat, and contains anti-microbial properties. This revolutionary fabric technology is ultra-soft and provides the ideal bounce back for each wear for next level comfort. <br> <br>
  {% endif %}
  {% if product.tags contains 'BAMBOO TECH DNA' %}
  <strong>BAMBOO TECH DNA™</strong> TLF’s game changing Bamboo fabric is ultra-soft and lightweight with the ideal fit and drape to enhance your shape. 4-way stretch, superior breathability, and moisture-wicking properties add next level performance for unmatched comfort in the gym and out - 24/7. <br> <br>
  {% endif %}
  {% if product.tags contains 'AIR2O BARRIER DNA' %}
  <strong>AIR2O BARRIER DNA™</strong> Comprised of lightweight nylon fabric, AIR2O BARRIER DNA™ is designed to repel wind, rain, and snow away from your skin providing a layer of protection from the elements to keep you dry and performing at optimal levels. <br> <br>
  {% endif %}
  {% if product.tags contains 'AIR-FLEX DNA' %}
  <strong>AIR-FLEX DNA™</strong> Technology is our first-class ultra-soft and lightweight semi-synthetic beech tree pulp (aka modal) fabric that provides the ideal fit and drape to enhance your shape. 4-way stretch, superior breathability, and moisture-wicking properties add next level performance for unmatched comfort for the perfect GYM-TO-STREET™ performance and style. <br> <br>
  {% endif %}
  {% if product.tags contains 'PERFORMANCE-TASLON' %}
  <strong>TLF AIR-FLEX<sup>TM</sup></strong> fabric ( ultra-soft, lightweight, breathable, non-abrasive) <br> <br>
  {% endif %}
  {% if product.tags contains 'PERFORMANCE TERRY DNA' %}
  <strong>PERFORMANCE TERRY DNA™</strong> TLF’s flagship innovation. Brushed, peached, and soft to the touch our Cotton French Terry fabric made its way into fitness world and has become the gold standard for performance and comfort. <br> <br>
  {% endif %}
  {% if product.tags contains 'INFI-SOFT DNA' %} 
  <strong>INFI-SOFT DNA<sup>TM</sup></strong> Technology produces superior hand and body "feel" providing unmatched comfort <br> <br>
  {% endif %}
  {% if product.tags contains 'INFI-STRETCH DNA' or 'INFI-STRETCH' %} 
  <strong>INFI-STRETCH DNA<sup>TM</sup></strong> Technology provides superior 4-way stretch and bounce-back properties helping keep that original shape and fit every time you put it on. <br> <br>
  {% endif %}
  {% if product.tags contains 'INFI-DRY DNA' %}
  <strong>INFI-DRY DNA<sup>TM</sup></strong> Technology provides moisture wicking properties helping to keep you dry and cool <br> <br>
  {% endif %}
  {% if product.tags contains 'INFI-DEFENSE DNA' %}
  <strong>INFI-DEFENSE DNA<sup>TM</sup></strong> Technology helps create an anti-microbial layer of protection from odor causing bacteria <br> <br>
  {% endif %}  
   {% if product.tags contains 'ELEMENT BARRIER DNA' %}
  <strong>ELEMENT BARRIER DNA<sup>TM</sup></strong> Technology Designed to keep your body dry and cool from the elements (rain, wind, and snow) <br> <br>
  {% endif %}
   {% if product.tags contains 'ELEMENT TECH DNA' %}
  <strong>ELEMENT TECH DNA<sup>TM</sup></strong> TLF’s breakthrough ultra-light and breathable fabric provides the ideal amount of 2-way stretch for optimal training mobility while keeping you cool and dry. <br> <br>
  {% endif %}
  {% if product.tags contains 'CTF DNA' %}
  <strong>CTF™ (CAMEL TOE FREE) TECH DNA<sup>TM</sup></strong> Is a revolutionary multi-design approach to forever eliminate that uncomfortable and annoying wardrobe malfunction. Designed to provide CTF™ comfort with no front seam, an innovative double layer fabric gusset with an extended inner thigh design, that provides an ultra-comfy front wedge free fit. “Just Say No, To The Toe” and slay your workouts in confidence. <br> <br>
  {% endif %}
  {% if product.tags contains 'LUXE DNA' %}
  <strong>LUXE-DNA<sup>TM</sup></strong> Technology is comprised of ultra-soft, lightweight, superior breathability, and moisture-wicking properties, designed to help lift, shape, and mold to your body like a second skin; delivering the perfect body and booty shaping fit that offers live-in comfort in the gym and out - 24/7. <br> <br>
  {% endif %}
  {% if product.tags contains 'RIBBED-TECH DNA' %}
    <strong>RIBBED-TECH DNA<sup>TM</sup></strong> takes ribbed performance and style to a new level. Perfect body-hugging compression, supportive yet stretchy for ideal mobility. Precisely engineered ribbing for just the right amount of detail, bounce-back recovery, and sculpting. <br><br>
  {% endif %}
  {% if product.tags contains 'LUXE-MAX DNA' %}
  <strong>LUXE-MAX DNA<sup>TM</sup></strong> Technology is engineered for MAX-out training days utilizing light compression. Providing maximum durability for sumo-deadlifts, hip thrusts, and squats, standing up to the heavy wear and tear. While delivering ultra-soft, moisture-wicking breathability for the perfect body-sculpting fit. <br> <br>
  {% endif %}
  {% if product.tags contains 'SQUAT PROOF CERTIFIED' %}
  <strong>TLF SQUAT PROOF TESTED AND CERTIFIED</strong> allows you to train in confidence knowing you are covered in our zero-transparency fabric technology and supported where it counts. Get in the zone and ready to perform your best squats, lunges, and deadlifts. <br> <br>
  {% endif %}
  {% if product.tags contains 'TRAIN TECH DNA' %}
  <strong>TRAIN TECH DNA™</strong> Sculpts, lifts, shapes, and supports delivering sweat-wicking breathability for those intense training sessions and maximum comfort for all day wear. <br> <br>
  {% endif %}
  </div>