<nav class="nav-new">
  <ul class="list">
    <li>
      <a href="javascript:void(0)" class="filtercategory">ACCESSORIES</a>
      <ul>
        <li>
          <a href="/collections/all-products/accessories">ALL PRODUCTS</a>

        </li>
        <li>
          <a href="/collections/all-products/hats">HATS</a>
        </li>
        <li>
          <a href="/collections/all-products/training-belts">TRAINING BELTS</a>
        </li>
        <li>
          <a href="/collections/all-products/lifting-straps">LIFTING STRAPS</a>
        </li>
        </ul>
    </li>
    <li class="sizes">
      <a href="javascript:void(0)" class="filtercategory">SIZE</a>
      <div class="sizes">
        <a class="sizefilter" data-size="o-s">
          <div class="size accessories" data-size-select="o-s">
            M/33
          </div>
        </a>
      </div>
    </li>
    <li>
      <a href="javascript:void(0)" class="filtercategory">COLOR</a>
      <div class="nav-cp">
        <div class="colorPicker">
          <div class="colorList">
            <a class="colorfilter" data-color="black"><div title="#FF6900" class="colorContainer" style="background: rgb(0, 0, 0);"></div></a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>