<section id="tlf-loyalty-atf">
    <div id="atf-content">
        <div id="tlf-title-atf">
       
            <!-- <h1>tlf Natural Rewards</h1>
            <p>As a rewards member, you’ll get closer to earning exclusive rewards every time you shop.</p> -->
        </div>
        {% unless customer %}
        <article id="tlf-atf-buttons">  
            <a class="sec-btn" href="https://tlfapparel.com/account/register">SIGN UP</a>
            <a class="prim-btn"href="https://tlfapparel.com/account/login">SIGN IN</a>

        {% endunless %}
        </article>
    </div>
</section>
<div id="atf-content-mobile">
    <div id="tlf-title-atf">
       
            <h1>TLF REWARDS</h1>
            <p>As a rewards member, you’ll get closer to earning exclusive rewards every time you shop.</p>
        </div>
        {% unless customer %}
        <article id="tlf-atf-buttons">  
            <a class="sec-btn" href="https://tlfapparel.com/account/register">SIGN UP</a>
            <a class="prim-btn"href="https://tlfapparel.com/account/login">SIGN IN</a>

        {% endunless %}
        </article>
    </div>