<nav class="nav-new">
  <ul class="list">
    <li class="sizes">
      <a href="javascript:void(0)" class="title">SIZE</a>
      <div class="sizes">
        <a class="sizefilter" data-size="xsmall">
          <div class="size" data-size-select="xsmall">
            XS
          </div>
        </a>
        <a class="sizefilter" data-size="small">
          <div class="size" data-size-select="small">
            S                            
          </div>
        </a>
        <a class="sizefilter" data-size="medium">
          <div class="size" data-size-select="medium">
            M
          </div>
        </a>
        <a class="sizefilter" data-size="large">
          <div class="size" data-size-select="large">
            L
          </div>
        </a>
        <a class="sizefilter" data-size="xlarge">
          <div class="size" data-size-select="xlarge">
            XL
          </div>
        </a>
        <a class="sizefilter" data-size="2xlarge">
          <div class="size" data-size-select="2xlarge">
            2XL
          </div>
        </a>
        <a class="sizefilter" data-size="3xlarge">
          <div class="size" data-size-select="3xlarge">
            3XL
          </div>
        </a>
      </div>
    </li>
    <li>
      <a href="javascript:void(0)" class="title">COLOR</a>
      <div class="nav-cp">
        <div class="colorPicker">
          <div class="colorList">
            <a class="colorfilter" data-color="black"><div title="#FF6900" class="colorContainer" style="background: rgb(0, 0, 0);"></div></a>
            <a class="colorfilter" data-color="white"><div title="#FF6900" class="colorContainer" style="border: 1px solid black;"></div></a>
            <a class="colorfilter" data-color="gray"><div title="#FF6900" class="colorContainer" style="background: rgb(128, 128, 128)"></div></a>
            <a class="colorfilter" data-color="blue"><div title="#FF6900" class="colorContainer" style="background: rgb(1, 0, 205);"></div></a>
            <a class="colorfilter" data-color="red"><div title="#FF6900" class="colorContainer" style="background: rgb(255, 0, 0);"></div></a>
            <a class="colorfilter" data-color="green"><div title="#FF6900" class="colorContainer" style="background: rgb(0, 128, 0)"></div></a>
            <a class="colorfilter" data-color="yellow"><div title="#FF6900" class="colorContainer" style="background: rgb(255, 255, 2)"></div></a>
            <a class="colorfilter" data-color="purple"><div title="#FF6900" class="colorContainer" style="background: rgb(148, 0, 211)"></div></a>
            <a class="colorfilter" data-color="brown"><div title="#FF6900" class="colorContainer" style="background: rgb(140, 69, 20)"></div></a>
            <a class="colorfilter" data-color="orange"><div title="#FF6900" class="colorContainer" style="background: rgb(255, 153, 0)"></div></a>
          </div>
        </div>
      </div>
    </li>
   
  </ul>
</nav>