#shopify-section-template--15450427982020__1647887696ce9054b2 {
    background-color: aliceblue;
    margin: 0;
    padding: 200px 0;
    color: brown;
    font-weight: 600;
    font-family: 'Montserrat';
}