{% section 'four-sixty-ugc' %}

{% comment %} <div class="page-width page-content {{ page.handle }}">

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>

      <div class="rte rte--nomargin">
        {{ page.content }}
      </div>

    </div>
  </div>

</div>

<style>
@media only screen and (min-width: 590px) {
.text-us-email header.section-header, .text-us header.section-header, .text-us-social header.section-header {
    margin-bottom: 0;
}
}
.text-us-email h1.sc-75msgg-0.eHPMhJ.header-text.cw-header-text,
.text-us-social h1.sc-75msgg-0.eHPMhJ.header-text.cw-header-text,
.text-us h1.sc-75msgg-0.eHPMhJ.header-text.cw-header-text {
    display: none;
}
.text-us-email h1, .text-us h1, .text-us-social h1 {
  font-weight: 600;
}
</style> {% endcomment %}