<!-- "snippets/shogun-products.liquid" was not rendered, the associated app was uninstalled -->


<div class="shg-clearfix"></div>
<!-- Created with Shogun. -->

<div class="shogun-root" data-shogun-id="5d48502b0458af004f75a72d" data-shogun-site-id="5a1cdb0c-d204-4216-8033-b390918854bf" data-shogun-page-id="5d48502b0458af004f75a72d" data-shogun-page-version-id="5daf5fd5326cc50004ec9ad5" data-shogun-platform-type="shopify" data-shogun-variant-id="5daf5fda326cc50004ec9d91" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:800">

<link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/shogun-font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/5daf5fda326cc50004ec9d91.css">

<script type="text/javascript" src="https://lib.getshogun.com/lazysizes/2.0.0/shogun-lazysizes.js" async=""></script>

<div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-158befe1-ff2b-4ad8-bf5c-8addebd36856">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-e276cc9f-7609-41f1-aaeb-a78d78b146c8">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-9dc2e578-4053-478b-8875-9de1f3b89f13">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        
  <div class="shg-c  " id="s-63bcd05d-a12b-4a1c-8dab-49da2c9811cf">
    <div class="shg-row" data-col-grid-mode-on="true">
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div class="shg-box-vertical-align-wrapper" style="box-sizing: border-box; min-height: 572px;">
    <div class="shg-box shg-c    " id="s-6ae00fe1-a42e-4234-977c-4ba495a1d71b">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div id="s-66589757-52e2-4e3e-86f9-61fe97e0f818" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><h1><span style="font-size: 40px; color: #ffffff;"><strong>JANET LAYUG</strong></span></h1></div>

</div>
<div id="s-aa97069a-c036-4766-845e-00ce26e17c62" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p><span style="font-size: 20px; color: #ffffff;">TLF ATHLETE</span></p></div>

</div>
<div id="s-8f297c46-9e05-4b1f-8807-b08acaf9e2db" class="shg-c  ">
  <hr>

</div>
<div id="s-95732000-bd9e-448c-9471-bc73a315c988" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content">
<p class="p1"><span style="color: #ffffff;">BORN: <span style="color: #999999;">PORTSMOUTH, VIRGINIA</span></span></p>
<p class="p1"><span style="color: #ffffff;">CURRENTLY RESIDES: <span style="color: #999999;">LAKELAND, FLORIDA</span></span></p>
<p class="p1"><span style="color: #ffffff;">ATHLETIC ORIGINS: <span style="color: #999999;">COMPETITIVE CHEERLEADING &amp; SOCCER</span></span></p>
<p class="p1"><span style="color: #ffffff;">SPECIALTY: <span style="color: #999999;">IFBB BIKINI PRO</span></span></p>
<p class="p1"><span style="color: #ffffff;">HEIGHT: <span style="color: #999999;">5'8" / 172.7CM</span></span></p>
<p class="p1"><span style="color: #ffffff;">COMPETITION WEIGHT: <span style="color: #999999;">124LBS / 56.2KG</span></span></p>
</div>

</div>
<div id="s-b4fc5628-9b6d-4d56-b491-82633f4537b5" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p class="p1"><span style="color: #ffffff; font-size: 20px;"><strong>FOLLOW JANET</strong></span></p></div>

</div>

  <div class="shg-c  " id="s-f5d34bd6-245c-4af2-bbc6-80f71feae9d6">
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-4">
<div id="s-529930f1-61e7-40f3-a35c-cf57d8364c97" class="shg-c  ">
  <div class="shogun-icon-wrapper">
  
  <a href="https://www.instagram.com/janetlayug/?hl=en" target="_blank">
  
    <div class="shg-fa shg-fa-instagram shogun-icon"></div>
  
  </a>
  
</div>

</div>
</div>
      <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-4">
<div id="s-cf8dfe23-8bd7-4275-8e23-879c5200ab40" class="shg-c  ">
  <div class="shogun-icon-wrapper">
  
  <a href="https://www.facebook.com/janetlayug/" target="_blank">
  
    <div class="shg-fa shg-fa-facebook shogun-icon"></div>
  
  </a>
  
</div>

</div>
</div>
      
        <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-4">
<div id="s-e4636f68-0aaa-4909-8067-7043000df20c" class="shg-c  ">
  <div class="shogun-icon-wrapper">
  
  <a href="https://www.youtube.com/channel/UCjabY5gbDYcOOcJokwcUqHQ" target="_blank">
  
    <div class="shg-fa shg-fa-youtube-play shogun-icon"></div>
  
  </a>
  
</div>

</div>
</div>
      
      
      
      
    </div>
  </div>


      </div>
    </div>
  </div>
<div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-d8c2ad84-ae39-4031-9cf7-eb1134e80b29">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div id="s-ebc638b8-4344-4359-92c2-c8989b71e683" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p style="text-align: center;"><span style="font-size: 40px; color: #ffffff;"><strong>JANET LAYUG</strong></span></p></div>

</div>
<div id="s-f3c40e96-76cb-4c6c-b07d-cfa8839b9b73" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p style="text-align: center;"><span style="font-size: 20px; color: #ffffff;">TLF ATHLETE</span></p></div>

</div>
<div id="s-e02aeb86-fddd-4b53-aa3b-778279ba0fd0" class="shg-c  ">
  <hr>

</div>
<div id="s-79e2f661-a10e-43b4-bceb-df770c83119d" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content">
<p class="p1" style="text-align: center;"><span style="color: #ffffff;">BORN: <span style="color: #999999;">PORTSMOUTH, VIRGINIA</span></span></p>
<p class="p1" style="text-align: center;"><span style="color: #ffffff;">CURRENTLY RESIDES: <span style="color: #999999;">LAKELAND, FLORIDA</span></span></p>
<p class="p1" style="text-align: center;"><span style="color: #ffffff;">ATHLETIC ORIGINS: <span style="color: #999999;">COMPETITIVE CHEERLEADING &amp; SOCCER</span></span></p>
<p class="p1" style="text-align: center;"><span style="color: #ffffff;">SPECIALTY: <span style="color: #999999;">IFBB BIKINI PRO</span></span></p>
<p class="p1" style="text-align: center;"><span style="color: #ffffff;">HEIGHT: <span style="color: #999999;">5'8" / 172.7CM</span></span></p>
<p class="p1" style="text-align: center;"><span style="color: #ffffff;">COMPETITION WEIGHT: <span style="color: #999999;">124LBS / 56.2KG</span></span></p>
</div>

</div>
<div id="s-75795f80-3e9c-4f39-88e2-adf3d6726f4b" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p class="p1" style="text-align: center;"><span style="color: #ffffff; font-size: 20px;"><strong>FOLLOW JANET</strong></span></p></div>

</div>

  <div class="shg-c  " id="s-d88d38ae-5a1f-4e1d-95b9-c2529d88ec8e">
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-4">
<div id="s-7ebc494e-fabd-475f-9397-a221c170354e" class="shg-c  ">
  <div class="shogun-icon-wrapper">
  
  <a href="https://www.instagram.com/janetlayug/?hl=en" target="_blank">
  
    <div class="shg-fa shg-fa-instagram shogun-icon"></div>
  
  </a>
  
</div>

</div>
</div>
      <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-4">
<div id="s-b3bbd6ec-a7f0-458a-b27f-d33b7c8e108d" class="shg-c  ">
  <div class="shogun-icon-wrapper">
  
  <a href="https://www.facebook.com/janetlayug/" target="_blank">
  
    <div class="shg-fa shg-fa-facebook shogun-icon"></div>
  
  </a>
  
</div>

</div>
</div>
      
        <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-4">
<div id="s-1c22122d-78ce-446f-a136-26ec781dbbde" class="shg-c  ">
  <div class="shogun-icon-wrapper">
  
  <a href="https://www.youtube.com/channel/UCjabY5gbDYcOOcJokwcUqHQ" target="_blank">
  
    <div class="shg-fa shg-fa-youtube-play shogun-icon"></div>
  
  </a>
  
</div>

</div>
</div>
      
      
      
      
    </div>
  </div>


      </div>
    </div>
  </div>
</div>
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">

<div class="shg-c shogun-image-container    shg-align-center" style="" id="s-973a9b67-f8d4-4d87-a6b0-b982e3d995cb">
  
    
      <img src="https://i.shgcdn.com/4242c175-dfa1-4ef7-a44c-306f9b009b9e/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image shogun-image-cover">
    
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-973a9b67-f8d4-4d87-a6b0-b982e3d995cb' })
</script>
</div>
      
      
      
      
    </div>
  </div>


      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
<div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-12b043ac-12f9-49d4-8f8f-dadf43156083">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-537aa332-e791-4bb1-9625-714b82f9cb2d">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div id="s-5c1ff7b4-6983-46d7-9647-2d93a09ae6cd" class="shg-c  ">
  
  <div class="shogun-video shogun-video-16x9">
    
    

    

    
      <iframe width="560" height="315" src="https://www.youtube.com/embed/OE8TPlzqrhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    

  </div>


</div>

      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
<div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    shogun-lazyloaded" id="s-47bb4096-1ba2-4a56-89a5-23f54601d305">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-975e5f28-9b74-4dae-8344-dbf9a82c56a7">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        
  <div class="shg-c  " id="s-7201aa7b-fb78-4a4b-9396-7e979bfa38fd">
    <div class="shg-row" data-col-grid-mode-on="true">
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">

<div class="shg-c shogun-image-container    shg-align-center" style="" id="s-278533bd-d8db-45a1-a30f-c4598be145f8">
  
    
      <img data-src="https://i.shgcdn.com/3ec788a6-9e55-4567-b0af-7c421bef471c/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image  shogun-lazyloaded" src="https://i.shgcdn.com/3ec788a6-9e55-4567-b0af-7c421bef471c/-/format/auto/-/preview/3000x3000/-/quality/lighter/">
    
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-278533bd-d8db-45a1-a30f-c4598be145f8' })
</script>
</div>
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">
<div class="shg-box-vertical-align-wrapper" style="box-sizing: border-box; min-height: 580px;">
    <div class="shg-box shg-c    " id="s-7edbd634-cec2-49c9-9df3-05630b5d1fcf">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div id="s-724eee9b-d310-4560-ad04-bf93c94af4e5" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p><span style="font-size: 30px; color: #ffffff;"><strong>ABOUT JANET</strong></span></p></div>

</div>
<div id="s-3033f00c-b88c-4f4a-98da-2cba4cfc8b0b" class="shg-c  ">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<div class="speaker-bio">
<div>
<p class="bio">Those who know Janet Layug say she is the sweetest and most down to earth person they have ever met, and we at TLF can’t emphasize this enough. She is genuinely a remarkable athlete with the desire, passion, and drive of a true champion.</p>
<div class="hidden-info" style="display: none;">
<p class="bio">
  Since her debut, Layug has been consistently at the top of her game.  She made her first pro competition appearance at the Arnold Classic International in 2014.
</p>
<p class="bio">
  A force to be reckoned with in the fitness industry, Layug’s continued drive and determination led her to win 9 IFBB Pro Bikini competitions over the course of 6 years.  She continues to strive to become a better version of herself and spares no expense when it comes to making the sacrifices necessary to be the best in the industry.  She continues to evolve, making her a bona fide inspiration to others.
</p>
<p class="bio">
  With the title of Arnold Champion in reach, Layug continued to push herself harder and further than she ever imagined possible.  She turned her trial into triumph, winning back-to-back Arnold Championships in 2019. 
</p>
		</div>
	<div class="read-more-trigger">[READ MORE]</div>
</div>
</div>
</div>
<div id="s-738f6764-73be-423c-ab92-08d4773a1ada" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p><span style="font-size: 30px; color: #ffffff;"><strong>ACHIEVEMENTS</strong></span></p></div>

</div>
<div id="s-e85c25ae-f24d-48d0-94c4-d2959509764f" class="shg-c  ">
  <hr>

</div>
<div id="s-4a8c013c-5159-4e49-bd93-7e3ba61d67ce" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content">
<p><span style="color: #ffffff; font-size: 16px;">FITNESS ICON</span></p>
<p><span style="color: #ffffff; font-size: 16px;">9X IFBB BIKINI PRO CHAMPION</span></p>
<p><span style="color: #ffffff; font-size: 16px;">2019 ARNOLD INTERNATIONAL BIKINI CHAMPION</span></p>
<p><span style="color: #ffffff; font-size: 16px;">2019 ARNOLD CLASSIC AUSTRALIA BIKINI CHAMPION</span></p>
</div>

</div>

      </div>
    </div>
  </div>
<div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-88692993-9b74-4462-8399-750a7f6a40f6">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div id="s-917d1c72-5c5a-44b8-8fd9-b815a128b751" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p style="text-align: center;"><span style="font-size: 30px; color: #ffffff;"><strong>ABOUT JANET</strong></span></p></div>

</div>
<div id="s-273d89f4-8111-4e50-94c4-ad77243acecb" class="shg-c  ">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<div class="speaker-biom">
<div>
<p class="biom">Those who know Janet Layug say she is the sweetest and most down to earth person they have ever met, and we at TLF can’t emphasize this enough. She is genuinely a remarkable athlete with the desire, passion, and drive of a true champion.</p>
<div class="hidden-infom" style="display: none;">
<p class="biom">
  Since her debut, Layug has been consistently at the top of her game.  She made her first pro competition appearance at the Arnold Classic International in 2014.
</p>
<p class="biom">
  A force to be reckoned with in the fitness industry, Layug’s continued drive and determination led her to win 9 IFBB Pro Bikini competitions over the course of 6 years.  She continues to strive to become a better version of herself and spares no expense when it comes to making the sacrifices necessary to be the best in the industry.  She continues to evolve, making her a bona fide inspiration to others.
</p>
<p class="biom">
  With the title of Arnold Champion in reach, Layug continued to push herself harder and further than she ever imagined possible.  She turned her trial into triumph, winning back-to-back Arnold Championships in 2019. 
</p>
		</div>
	<div class="read-more-triggerm">[READ MORE]</div>
</div>
</div>
</div>
<div id="s-4e187ba8-c70b-4ffd-bbe4-022c8be9b8fa" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p style="text-align: center;"><span style="font-size: 30px; color: #ffffff;"><strong>ACHIEVEMENTS</strong></span></p></div>

</div>
<div id="s-add870a7-a4a4-4354-9375-679f16d69cb5" class="shg-c  ">
  <hr>

</div>
<div id="s-c0d46baa-25b0-43b4-97d3-4af85974e1b2" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content">
<p style="text-align: center;"><span style="color: #ffffff; font-size: 16px;">FITNESS ICON</span></p>
<p style="text-align: center;"><span style="color: #ffffff; font-size: 16px;">9X IFBB BIKINI PRO CHAMPION</span></p>
<p style="text-align: center;"><span style="color: #ffffff; font-size: 16px;">2019 ARNOLD INTERNATIONAL BIKINI CHAMPION</span></p>
<p style="text-align: center;"><span style="color: #ffffff; font-size: 16px;">2019 ARNOLD CLASSIC AUSTRALIA BIKINI CHAMPION</span></p>
</div>

</div>

      </div>
    </div>
  </div>
</div>
      
      
      
      
    </div>
  </div>


      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
<div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-b3958a25-feab-4065-bc07-45b91de8ba7f">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-7f2477d0-f76b-41e3-9013-9cb0b4bf2833">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-62c45fca-5476-4541-b70b-04f68e9c0534">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div id="s-1964ca84-2ed7-4d5c-ae6f-a1cdefff570c" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p><span style="font-size: 20px;"><strong>TLF NEWS</strong></span></p></div>

</div>
<div id="s-052124e1-5051-48f7-acf9-480d0b8ddbb4" class="shg-c  ">
  <hr>

</div>
<div id="s-3b31efd9-90e7-45d6-8ad9-761d5a318733" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p><span style="font-size: 20px;"><strong>JANET LAYUG JOINS TLF</strong></span></p></div>

</div>
<div id="s-a4296098-236f-4f74-be04-3555c672a752" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p>August 5, 2019</p></div>

</div>
<div id="s-5bdd1b86-4d9b-4171-b79b-ba0ddad56383" class="shg-c  ">
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<p>Ft. Lauderdale, FL (08/05/19): TLF (TAKE LIFE FURTHER) Apparel announced the signing of Janet Layug, 9x IFBB Bikini Pro Champion, 2019 Arnold Bikini Champion, and Fitness Icon to their new team of elite athletes.<br></p>

<p class="excerpt">Layug adds, “I have followed TLF for several years and have witnessed their amazing evolution as a brand. TLF is a true statement of standout style activewear that fits and performs as good as it looks, and as important to me is what they represent. Their motto to TAKE LIFE FURTHER and REDEFINE IMPOSSIBLE is something I live by each day as I continue to push myself to be the very best in my sport and everyday life, while at the same time inspiring and motivating others to push themselves past what they believe is possible. <br><br><a class="twy" id="morelink"><strong>[READ MORE]</strong></a></p>
  
  
  
</div>

      </div>
    </div>
  </div>
<div id="s-0a1c3bc9-7d45-4ecb-9d51-675fc780b841-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-center">
  <a id="s-0a1c3bc9-7d45-4ecb-9d51-675fc780b841" class="shg-btn shg-cse " href="https://tlfapparel.com/pages/about-tlf-apparel">
      LEARN MORE ABOUT TLF
  </a>
</div>

      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
<div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    shogun-lazyload" id="s-c3bc3cef-ce9f-46c2-9088-6c0590554333">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-eda76350-926f-4495-b896-48349f08618d">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        
  <div class="shg-c  " id="s-71b271e7-53d8-44ec-8495-bd6b283ae0dc">
    <div class="shg-row" data-col-grid-mode-on="true">
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper" style="box-sizing: border-box; min-height: 592px;">
    <div class="shg-box shg-c    " id="s-4c3223b5-c921-41cc-8b8b-e4d81c10f558">
      <div class="shg-box-overlay"></div>
<div class="shg-box-content">
        <div id="s-3cdf1cf9-1d1e-48ba-a48b-dc845abd0e68" class="shg-c  ">
  <div class="shg-rich-text shg-default-text-content"><p><span style="font-size: 30px; color: #ffffff;"><strong>ATHLETE Q&amp;A</strong></span></p></div>

</div>
<div id="s-09029888-4b23-438f-901c-28639f4c15a5" class="shg-c  ">
  <hr>

</div>
<div id="s-040015ca-dfb6-4250-abe0-f2fa0955aff7" class="shg-c  ">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<div class="speaker-bio-qa">
<div>
<p class="bio-q">How many days a week do you train?
<br><font color="#999999">“I train every day that ends in Y?</font></p>

<p class="bio-q">How long is a typical workout?
<br><font color="#999999">“An hour to an hour and a half?</font></p>

<p class="bio-q">What’s you favorite body part to train?
<br><font color="#999999">“Shoulders…I love the look of sexy sculpted shoulders on women?</font></p>

<p class="bio-q">What your least favorite body part to train?
<br><font color="#999999">“Legs. I think a lot of people hate leg day?</font></p>

<p class="bio-q">What’s your favorite cheat meal?
<br><font color="#999999">“My favorite go to is a charbroiled burger and french fries…with a little bit of ketchup?</font></p>


<div class="hidden-info-qa" style="display: none;">
    
    
<p class="bio-q">What’s your favorite clean meal?
<br><font color="#999999">“My favorite clean meal would have to be a lean steak, grilled vegetables and sweet potato?</font></p>

<p class="bio-q">How many times a week or month do you have a cheat day / meal?
<br><font color="#999999">“Maybe once or twice a month?</font></p>

<p class="bio-q">What’s the question you get asked the most?
<br><font color="#999999">“What is my ethnicity.  I am half Filipino and half Polish?</font></p>

<p class="bio-q">What’s your favorite type of music to listen to when you train?
<br><font color="#999999">“I like listening to rap, hip-hop, country, and even a little bit of Dub Step…that’s pretty cool?</font></p>

<p class="bio-q">Do you have any athletic interests aside from being a Professional Bikini Athlete?
<br><font color="#999999">“I love all sports, aside from competing, I love playing tennis?</font></p>
		
		</div>
	<div class="read-more-trigger-qa">[READ MORE]</div>
</div>
</div>
</div>

      </div>
    </div>
  </div></div>
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12">

<div class="shg-c shogun-image-container    shg-align-center" style="" id="s-26b3dbf7-da3e-4a1f-955a-8d2de3e37087">
  
    
      <img src="https://i.shgcdn.com/47d8a190-b3a9-434d-852c-aae3ea21f048/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image ">
    
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-26b3dbf7-da3e-4a1f-955a-8d2de3e37087' })
</script>
</div>
      
      
      
      
    </div>
  </div>


      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
<div id="s-f6fc857d-2bc0-4042-89f7-4f3bcb2a248f" class="shg-c  ">
  <style>.reviewfooter { display: none; } </style>


</div>

      </div>
    </div>
  </div>
<script type="text/javascript" src="https://cdn.getshogun.com/5daf5fda326cc50004ec9d91.js" async=""></script>

</div>