<div class="shg-clearfix"></div>
<div class="shogun-root" data-shogun-id="5d4b3692047127005390836c" data-shogun-site-id="5a1cdb0c-d204-4216-8033-b390918854bf" data-shogun-page-id="5d4b3692047127005390836c" data-shogun-page-version-id="5f650e6a24294c0053fd2536" data-shogun-platform-type="shopify" data-shogun-variant-id="5f650e6a24294c0053fd2674" data-region="main">

  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/5f650e6a24294c0053fd2674.css">

  <script type="text/javascript" src="https://lib.getshogun.com/lazysizes/2.0.0/shogun-lazysizes.js" async=""></script>

  <div class="shg-fw" style="margin-right: 0px; margin-left: 0px; width: calc(100% + 0px);">
    <div class="shg-box-vertical-align-wrapper">
      <div class="shg-box shg-c    " id="s-e36aba31-29e2-494a-82c4-4106bec3dfb9">
        <div class="shg-box-overlay"></div>
        <div class="shg-box-content">

          <div class="shg-c shogun-image-container    shg-align-center" style="" id="s-20c7e49c-ada7-435f-a667-fa8a9ce8e2f8">

            <img src="https://cdn.shopify.com/s/files/1/2665/0346/files/mob_ABOUT_US_banner_JUNE_14.jpg?v=1623693138" width="" height="" style="" alt="" class="shogun-image ">

          </div>

          <script type="text/javascript">
            window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
            window.SHOGUN_IMAGE_ELEMENTS.push({
              hoverImage: '',
              uuid: 's-20c7e49c-ada7-435f-a667-fa8a9ce8e2f8'
            })
          </script>

          <div class="shg-c shogun-image-container    shg-align-center" style="" id="s-96d189fa-af09-4e8d-bca7-1fed113aab2d">

            <img src="https://cdn.shopify.com/s/files/1/2665/0346/files/desk-ABOUT-US-banner-JUNE-14-1.jpg?v=1623696578" width="" height="" style="" alt="" class="shogun-image ">

          </div>

          <script type="text/javascript">
            window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
            window.SHOGUN_IMAGE_ELEMENTS.push({
              hoverImage: '',
              uuid: 's-96d189fa-af09-4e8d-bca7-1fed113aab2d'
            })
          </script>

        </div>
      </div>
    </div>
  </div>
  <div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-bc9d6212-b2ae-47a7-8d79-5bbb457adb67">
      <div class="shg-box-overlay"></div>
      <div class="shg-box-content">
        <div class="shg-box-vertical-align-wrapper">
          <div class="shg-box shg-c    " id="s-4079f339-04db-41d8-a6ed-09c6fbcc86a0">
            <div class="shg-box-overlay"></div>
            <div class="shg-box-content">
              <div id="s-df37e8a1-e782-4b73-acdb-62ea6483d02b" class="shg-c  ">
                <div class="shg-rich-text shg-default-text-content">
                  <p style="text-align: center;"><span style="font-size: 28px; font-family: 'Montserrat';"><strong>ABOUT TLF</strong></span></p>
                </div>

              </div>
              <div id="s-c1a382f1-a385-4207-ad78-63626a1be22d" class="shg-c  ">
                <hr>

              </div>
              <div id="s-1cea0bdf-bfb8-4118-a5e9-80d4c3f3781b" class="shg-c  ">
                <div class="shg-rich-text shg-default-text-content">
                  <p style="text-align: center;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal;">TLF originated with a single focus in mind: pushing one past their boundaries and limitations to TAKE LIFE FURTHER while REDEFINING IMPOSSIBLE. </span></p>
                  <p style="text-align: center;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal;">Pioneering a new category in athletic and lifestyle apparel, TLF products are engineered for your toughest training sessions and designed to carry you through the rest of your day or wherever life takes you.</span></p>
                  <h2 style="text-align: center;"><span style="font-family: 'Montserrat'; color: #ffffff;"><span style="letter-spacing: 2px; color: #000000;"><span style="background-color: transparent; font-size: 1em;">This new revolution in apparel, we refer to as</span></span></span></h2>
                  <h2 style="text-align: center;"><span style="font-family: 'Montserrat'; color: #ffffff;"><span style="letter-spacing: 2px; color: #000000;"><strong style="font-size: 1em; font-style: normal; letter-spacing: -0.005em; text-align: left; text-transform: none;">GYM-TO-STREET GEAR - REDEFINED™</strong></span><span style="background-color: transparent; font-size: 1em; letter-spacing: -0.005em;"><span style="letter-spacing: 2px; color: #000000;">.</span>&nbsp; </span></span></h2>
                </div>

              </div>
              <div id="s-beeb31ad-c6e2-4350-a12b-8e3efe32c607" class="shg-c  ">
                <div class="shg-rich-text shg-default-text-content">
                  <p style="text-align: center;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal;">TLF originated with a single focus in mind: pushing one past their boundaries and limitations to TAKE LIFE FURTHER while REDEFINING IMPOSSIBLE. </span></p>
                  <p style="text-align: center;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal;">Pioneering a new category in athletic and lifestyle apparel, TLF products are engineered for your toughest training sessions and designed to carry you through the rest of your day or wherever life takes you.</span></p>
                  <h2 style="text-align: center;"><span style="font-family: 'Montserrat'; color: #ffffff;"><span style="letter-spacing: 2px; color: #000000;"><span style="background-color: transparent; font-size: 1em;">This new revolution in apparel, we refer to as</span></span></span></h2>
                  <h2 style="text-align: center;"><span style="font-family: 'Montserrat'; color: #ffffff;"><span style="letter-spacing: 2px; color: #000000;"><strong style="font-size: 1em; font-style: normal; letter-spacing: -0.005em; text-align: left; text-transform: none;">GYM-TO-STREET GEAR - REDEFINED™</strong></span><span style="background-color: transparent; font-size: 1em; letter-spacing: -0.005em;"><span style="letter-spacing: 2px; color: #000000;">.</span>&nbsp; </span></span></h2>
                </div>

              </div>
              <div id="s-c07fd9aa-94b0-4c32-b533-aee3bfe5fcd4" class="shg-c  ">
                <hr>

              </div>

            </div>
          </div>
        </div>
        <div class="shg-fw" style="margin-right: 0px; margin-left: 0px; width: calc(100% + 0px);">
          <div class="shg-box-vertical-align-wrapper">
            <div class="shg-box shg-c    " id="s-8c7bdf66-ed0c-45c1-831a-8e6d27e98d9e">
              <div class="shg-box-overlay"></div>
              <div class="shg-box-content">
                <div id="s-95cdb865-1c32-40e5-aab3-85a026fd277b" class="shg-c  ">
                  <div class="shg-rich-text shg-default-text-content">
                    <p style="text-align: center;"><span style="font-size: 28px; font-family: 'Montserrat';"><strong>ABOUT TLF</strong></span></p>
                  </div>

                </div>
                <div id="s-5b2faa08-dd76-435e-aa90-515c922b507f" class="shg-c  ">
                  <hr>

                </div>
                <div id="s-7979bc41-b266-4882-aa54-860427f05950" class="shg-c  ">
                  <div class="shg-rich-text shg-default-text-content">
                    <p style="text-align: center;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal;">TLF originated with a single focus in mind: pushing one past their boundaries and limitations to TAKE LIFE FURTHER while REDEFINING IMPOSSIBLE. </span></p>
                    <p style="text-align: center;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal;">Pioneering a new category in athletic and lifestyle apparel, TLF products are engineered for your toughest training sessions and designed to carry you through the rest of your day or wherever life takes you.</span></p>
                    <h2 style="text-align: center;"><span style="font-family: 'Montserrat'; color: #ffffff;"><span style="letter-spacing: 2px; color: #000000;"><span style="background-color: transparent; font-size: 1em;">This new revolution in apparel, we refer to as</span></span></span></h2>
                    <h2 style="text-align: center;"><span style="font-family: 'Montserrat'; color: #ffffff;"><span style="letter-spacing: 2px; color: #000000;"><strong style="font-size: 1em; font-style: normal; letter-spacing: -0.005em; text-align: left; text-transform: none;">GYM-TO-STREET GEAR - REDEFINED™</strong></span><span style="background-color: transparent; font-size: 1em; letter-spacing: -0.005em;"><span style="letter-spacing: 2px; color: #000000;">.</span>&nbsp; </span></span></h2>
                  </div>

                </div>
                <div id="s-09be14aa-5e04-4c67-a519-fd5fd1a2748d" class="shg-c  ">
                  <div class="shg-rich-text shg-default-text-content">
                    <p style="text-align: center;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal;">TLF originated with a single focus in mind: pushing one past their boundaries and limitations to TAKE LIFE FURTHER while REDEFINING IMPOSSIBLE. </span></p>
                    <p style="text-align: center;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal;">Pioneering a new category in athletic and lifestyle apparel, TLF products are engineered for your toughest training sessions and designed to carry you through the rest of your day or wherever life takes you.</span></p>
                    <h2 style="text-align: center;"><span style="font-family: 'Montserrat'; color: #ffffff;"><span style="letter-spacing: 2px; color: #000000;"><span style="background-color: transparent; font-size: 1em;">This new revolution in apparel, we refer to as</span></span></span></h2>
                    <h2 style="text-align: center;"><span style="font-family: 'Montserrat'; color: #ffffff;"><span style="letter-spacing: 2px; color: #000000;"><strong style="font-size: 1em; font-style: normal; letter-spacing: -0.005em; text-align: left; text-transform: none;">GYM-TO-STREET GEAR - REDEFINED™</strong></span><span style="background-color: transparent; font-size: 1em; letter-spacing: -0.005em;"><span style="letter-spacing: 2px; color: #000000;">.</span>&nbsp; </span></span></h2>
                  </div>

                </div>
                <div id="s-41eedcfb-4fa6-4b7c-b019-86d265ec266c" class="shg-c  ">
                  <hr>

                </div>

                <div class="shg-c  " id="s-5fe2b912-908b-4e8f-96af-402c77702668">
                  <div class="shg-row" data-col-grid-mode-on="">
                    <div class="shg-c-lg-7 shg-c-md-7 shg-c-sm-7 shg-c-xs-12">
                      <div id="s-43bb5233-c466-4d5e-9229-dc3a678b9e61" class="shg-c  ">
                        <div class="shg-rich-text shg-theme-text-content">
                          <h3 style="text-align: justify;"><span style="letter-spacing: normal; font-family: 'Montserrat'; font-size: 16px;">TLF was established in 2012 by Chris Ferguson, former founder of BSN® supplements. A global leader in sports nutrition, Ferguson was responsible for pioneering the multi-billion-dollar pre-workout product category with the unprecedented innovation of N.O.-XPLODE® (among many other industry breakthroughs) forever changing the way people approach training and supplementation.</span></h3>
                          <h3 style="text-align: justify;"><span style="letter-spacing: normal; font-family: 'Montserrat'; font-size: 16px;">After selling BSN®, Ferguson shifted his focus into developing TLF into the world’s most premium athletic and lifestyle brand. </span></h3>
                          <h3 style="text-align: justify;"><span style="letter-spacing: normal; font-family: 'Montserrat'; font-size: 16px;">He set out to redefine the activewear industry using his core philosophy of Innovate-Never-Duplicate. &nbsp;</span></h3>
                          <h3 style="text-align: justify;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal;">His unparalleled attention to quality, fit, function, performance, and design has led TLF to become the “go to” brand for those who will settle for nothing less than the best. </span></h3>
                          <h3 style="text-align: justify;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal;">TLF products are designed to help improve the way you look and the way you feel; propelling your confidence and performance to new levels you never imagined possible.</span></h3>
                        </div>

                      </div>
                    </div>
                    <div class="shg-c-lg-5 shg-c-md-5 shg-c-sm-5 shg-c-xs-12">

                      <div class="shg-c shogun-image-container    shg-align-center" style="" id="s-9d5d86ca-b8de-4060-bcce-95db9461bf4c">

                        <img src="https://i.shgcdn.com/aab95456-d8ff-4b5a-b84f-17fcdae61a10/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image ">

                      </div>

                      <script type="text/javascript">
                        window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
                        window.SHOGUN_IMAGE_ELEMENTS.push({
                          hoverImage: '',
                          uuid: 's-9d5d86ca-b8de-4060-bcce-95db9461bf4c'
                        })
                      </script>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="shg-box-vertical-align-wrapper">
          <div class="shg-box shg-c    " id="s-a1b0cce3-297f-4060-a647-acfe12ce3ed0">
            <div class="shg-box-overlay"></div>
            <div class="shg-box-content">
              <div id="s-24c2bab1-07a7-4f9f-9423-8445c450c2a1" class="shg-c  ">

                <script src="https://code.jquery.com/jquery-1.10.1.min.js" integrity="sha256-SDf34fFWX/ZnUozXXEH0AeB+Ip3hvRsjLwp6QNTEb3k=" crossorigin="anonymous"></script>
                <style>
                  #about-video {
                    width: 32%;
                    padding: 10px;
                  }

                  .iframe-container {
                    overflow: hidden;
                    padding-top: 56.25%;
                    /* 16:9*/
                    position: relative;
                  }

                  .iframe-container iframe {
                    border: 0;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                  }

                  #video-gallery {
                    text-align: center;
                  }

                  @media only screen and (min-width: 992px) {
                    #video-gallery {
                      padding: 20px 20px;
                      margin: 0px;
                      width: 58%;
                      float: right;
                    }

                    #main-video {
                      width: 42%;
                      float: left;
                      padding: 15px 0px 0 20px;
                    }
                  }
                </style>

                <div id="main-video">
                  <div class="iframe-container">
                    <iframe src="https://player.vimeo.com/video/454496986?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" frameborder="“0”" allowfullscreen="" name="search_iframe" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" loading="lazy" height="450" width="800"></iframe>
                  </div>
                </div>
                <div id="video-gallery">

                  <div class="item" style="display: none;">

                    <a href="https://player.vimeo.com/video/457034313?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" target="search_iframe"><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/hyperonyx.jpg?v=1633468466" alt="" id="about-video"></a>

                    <a href="https://player.vimeo.com/video/456200093?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" target="search_iframe"><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/mashup.jpg?v=1633471007" alt="" id="about-video"></a>

                    <a href="https://player.vimeo.com/video/456207104?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" target="search_iframe"><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/will2.jpg?v=1633471007" alt="" id="about-video"></a>

                    <a href="https://player.vimeo.com/video/456202427?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" target="search_iframe"><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/shine.jpg?v=1633470686" alt="" id="about-video"></a>

                    <a href="https://player.vimeo.com/video/454496986?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" target="search_iframe"><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/lifting.jpg?v=1633471007" alt="" id="about-video"></a>

                    <a href="https://player.vimeo.com/video/456199528?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" target="search_iframe"><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/reps.jpg?v=1633471007" alt="" id="about-video"></a>

                  </div>
                  <div class="item" style="display: block;">

                    <a href="https://player.vimeo.com/video/457035314?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" target="search_iframe"><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/hyperonyx.jpg?v=1633468466" alt="" id="about-video"></a>

                    <a href="https://player.vimeo.com/video/456214859?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" target="search_iframe"><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/mashup.jpg?v=1633471007" alt="" id="about-video"></a>

                    <a href="https://player.vimeo.com/video/454497272?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" target="search_iframe"><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/will2.jpg?v=1633471007" alt="" id="about-video"></a>

                    <a href="https://player.vimeo.com/video/456207674?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" target="search_iframe"><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/shine.jpg?v=1633470686" alt="" id="about-video"></a>

                    <a href="https://player.vimeo.com/video/454497504?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" target="search_iframe"><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/lifting.jpg?v=1633471007" alt="" id="about-video"></a>

                    <a href="https://player.vimeo.com/video/456199849?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" target="search_iframe"><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/reps.jpg?v=1633471007" alt="" id="about-video"></a>

                  </div>
                </div>
              </div>

              <script>
                var random = Math.floor(Math.random() * $('.item').length);
                $('.item').hide().eq(random).show();
              </script>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="shg-c shogun-image-container    shg-align-center" style="" id="s-168eb781-ce26-4163-8863-27b4115697e2">

  <img data-src="https://i.shgcdn.com/85fb739b-8fb6-4f58-9663-32ed2c36f36f/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image  shogun-lazyload">

</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({
    hoverImage: '',
    uuid: 's-168eb781-ce26-4163-8863-27b4115697e2'
  })
</script>

<div class="shg-fw">
  <div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-0413918a-4adf-4e71-9c4f-96df529bd37c">
      <div class="shg-box-overlay"></div>
      <div class="shg-box-content">
        <div id="s-491442a8-dca0-4fe6-8196-8b255834fc16" class="shg-c  ">
          <div class="shg-rich-text shg-default-text-content">
            <h3 style="text-align: center;">
              <span style="letter-spacing: normal; font-size: 14px;"><span style="font-family: 'Montserrat'; color: #ffffff;">Ferguson’s credo, “It’s our never-ending pledge to </span></span><span style="letter-spacing: normal; font-size: 14px;"><span style="font-family: 'Montserrat'; color: #ffffff;">motivate </span></span><span style="letter-spacing: normal; font-size: 14px;"><span style="font-family: 'Montserrat'; color: #ffffff;">you, push you beyond your comfort zone, </span><span style="font-family: 'Montserrat'; color: #ffffff;">and past </span></span><span style="letter-spacing: normal; font-size: 14px;"><span style="font-family: 'Montserrat'; color: #ffffff;">your </span></span><span style="letter-spacing: normal; font-size: 14px;"><span style="font-family: 'Montserrat'; color: #ffffff;">known limits to inspire you to </span></span><span style="letter-spacing: normal; font-size: 14px;"><span style="font-family: 'Montserrat'; color: #ffffff;"><strong><em>TAKE LIFE FURTHER</em></strong> and <strong><em>REDEFINE IMPOSSIBLE</em></strong>”.</span></span>
            </h3>
          </div>

        </div>
        <div id="s-4aa9fffb-eeeb-43c0-977d-acf00c2e628f" class="shg-c  ">
          <div class="shg-rich-text shg-default-text-content">
            <h3 style="text-align: center;"><span style="letter-spacing: 1px;"><span style="font-size: 16px; font-family: 'Montserrat'; color: #ffffff;">Ferguson’s credo, “It’s our never-ending pledge to motivate you, push you beyond your comfort zone, </span><span style="font-size: 16px; font-family: 'Montserrat'; color: #ffffff;">and past your known limits to inspire you to <strong><em>TAKE LIFE FURTHER</em></strong> and <strong><em>REDEFINE IMPOSSIBLE</em></strong>”.</span></span></h3>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<div class="shg-fw">
  <div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    " id="s-6dd83553-6101-4ca1-ba76-952e4252b67b">
      <div class="shg-box-overlay"></div>
      <div class="shg-box-content">
        <div id="s-db55a1a9-9206-4a3e-985e-3212d1245edd" class="shg-c  ">
          <div class="shg-rich-text shg-default-text-content">
            <h3 style="text-align: center;"><span style="letter-spacing: 1px;"><span style="font-size: 16px; font-family: 'Montserrat'; color: #ffffff;">Ferguson’s credo, “It’s our never-ending pledge to motivate you, push you beyond your comfort zone, </span><span style="font-size: 16px; font-family: 'Montserrat'; color: #ffffff;">and past your known limits to inspire you to <strong><em>TAKE LIFE FURTHER</em></strong> and <strong><em>REDEFINE IMPOSSIBLE</em></strong>”.</span></span></h3>
          </div>

        </div>
        <div id="s-aa4a006c-abc8-49d8-a68e-c72a9a86bc7e" class="shg-c  ">
          <div class="shg-rich-text shg-default-text-content">
            <h3 style="text-align: center;"><span style="letter-spacing: 1px;"><span style="font-size: 16px; font-family: 'Montserrat'; color: #ffffff;">Ferguson’s credo, “It’s our never-ending pledge to motivate you, push you beyond your comfort zone, </span><span style="font-size: 16px; font-family: 'Montserrat'; color: #ffffff;">and past your known limits to inspire you to <strong><em>TAKE LIFE FURTHER</em></strong> and <strong><em>REDEFINE IMPOSSIBLE</em></strong>”.</span></span></h3>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<div class="shg-fw">
  <div class="shg-box-vertical-align-wrapper">
    <div class="shg-box shg-c    shogun-lazyload" data-bgset="https://i.shgcdn.com/f0e7e049-1320-4301-9044-804d980c3d2b/-/format/auto/-/preview/3000x3000/-/quality/lighter/" id="s-4e09f3b8-afd6-4128-81e0-40ea71131e81">
      <div class="shg-box-overlay"></div>
      <div class="shg-box-content">

        <div class="shg-c  " id="s-a22cf7e0-ad18-481c-a8d9-f4b895b814ee">
          <div class="shg-row" data-col-grid-mode-on="">
            <div class="shg-c-lg-8 shg-c-md-8 shg-c-sm-8 shg-c-xs-12">
              <div id="s-3fe96d23-4944-43f3-8730-4b067ecdf4e7" class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">
                  <p style="text-align: justify; line-height: 26px;"><span style="letter-spacing: normal; font-family: 'Montserrat'; font-size: 16px; color: #ffffff;">TLF was established in 2012 by Chris Ferguson, former founder of BSN® supplements. A global leader in sports nutrition, Ferguson was responsible for pioneering the multi-billion-dollar pre-workout product category with the unprecedented innovation of N.O.-XPLODE® (among many other industry breakthroughs) forever changing the way people approach training and supplementation.</span></p>
                  <p style="text-align: justify; line-height: 26px;"><span style="letter-spacing: normal; font-family: 'Montserrat'; font-size: 16px; color: #ffffff;">After selling BSN®, Ferguson shifted his focus into developing TLF into the world’s most premium athletic and lifestyle brand. </span></p>
                  <p style="text-align: justify; line-height: 26px;"><span style="letter-spacing: normal; font-family: 'Montserrat'; font-size: 16px; color: #ffffff;">He set out to redefine the activewear industry using his core philosophy of Innovate-Never-Duplicate. &nbsp;</span></p>
                  <p style="text-align: justify; line-height: 26px;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal; color: #ffffff;">His unparalleled attention to quality, fit, function, performance, and design has led TLF to become the “go to” brand for those who will settle for nothing less than the best. </span></p>
                  <p style="text-align: justify; line-height: 26px;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal; color: #ffffff;">TLF products are designed to help improve the way you look and the way you feel; propelling your confidence and performance to new levels you never imagined possible.</span></p>
                </div>

              </div>
            </div>
            <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12">
              <div id="s-7ec95157-4d82-4843-aa07-c1e2d29784ae" class="shg-c  ">
                <div class="shg-rich-text shg-theme-text-content">
                  <h3 style="text-align: justify; line-height: 24px;"><span style="letter-spacing: normal; font-family: 'Montserrat'; font-size: 16px; color: #ffffff;">TLF was established in 2012 by Chris Ferguson, former founder of BSN® supplements. A global leader in sports nutrition, Ferguson was responsible for pioneering the multi-billion-dollar pre-workout product category with the unprecedented innovation of N.O.-XPLODE® (among many other industry breakthroughs) forever changing the way people approach training and supplementation.</span></h3>
                  <h3 style="text-align: justify; line-height: 24px;"><span style="letter-spacing: normal; font-family: 'Montserrat'; font-size: 16px; color: #ffffff;">After selling BSN®, Ferguson shifted his focus into developing TLF into the world’s most premium athletic and lifestyle brand. </span></h3>
                  <h3 style="text-align: justify; line-height: 24px;"><span style="letter-spacing: normal; font-family: 'Montserrat'; font-size: 16px; color: #ffffff;">He set out to redefine the activewear industry using his core philosophy of Innovate-Never-Duplicate. &nbsp;</span></h3>
                  <h3 style="text-align: justify; line-height: 24px;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal; color: #ffffff;">His unparalleled attention to quality, fit, function, performance, and design has led TLF to become the “go to” brand for those who will settle for nothing less than the best. </span></h3>
                  <h3 style="text-align: justify; line-height: 24px;"><span style="font-size: 16px; font-family: 'Montserrat'; letter-spacing: normal; color: #ffffff;">TLF products are designed to help improve the way you look and the way you feel; propelling your confidence and performance to new levels you never imagined possible.</span></h3>
                  <p>&nbsp;</p>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div id="s-5d890d20-539a-4cb1-ac29-f9ea458bfae0" class="shg-c  ">
  <style>
    .reviewfooter {
      display: none;
    }
  </style>

</div>

<script type="text/javascript" src="https://cdn.getshogun.com/5f650e6a24294c0053fd2674.js" async=""></script>