{{ "tlf-loyalty-custom-style.css" | asset_url | stylesheet_tag }}


{% if customer %}

{% endif %}
<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/vLM_160_KqQPL2l55GpovQ" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="60649"></div>

<h1 style="margin-top:20px;margin-bottom:20px;text-align:center;color: #cfcfcf;">TLF Rewards</h1>