      <div class="rte rte--nomargin">
       <img class="page-image" src="https://cdn.shopify.com/s/files/1/2665/0346/files/FW22-1108_BF-Blowout_HP-Banner_Desktop.gif?v=1667950194" alt="hyper-power-girls">
       </div>
<div class="scale-button">
  <div class="scale-button-content">SHOP</div>
  <div class="scale-button-inside"></div>
  <div class="ripple-button-inside"></div>
</div>

      
    



<style>
  @media only screen and (max-width: 500px) {
  .rte.rte--nomarginimg.page-image {
    background-image: url('https://cdn.shopify.com/s/files/1/2665/0346/files/FW22-1108_BF-Blowout_HP-Banner_Mobile.gif?v=1667950227')!important;
  }
}
  .scale-button {
    margin-top: 324px;
}
  .scale-button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: height .5s ease, width .5s ease;
  transition: height .5s ease, width .5s ease;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.scale-button-content {
  height: 100%;
  width: 100%;
  font-family: Arial;
  background-color: #CCFF00;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.scale-button:hover{
  height: 120px;
  width: 120px;
}

.scale-button-content,
.scale-button-inside,
.scale-button-inside:before,
.scale-button-inside:after,
.ripple-button-inside,
.ripple-button-inside:before,
.ripple-button-inside:after {
  border-radius: inherit;
}

.scale-button-inside:before,
.scale-button-inside:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0; 
  bottom: 0; 
  left: 0;
  background-color: #CCFF00;
}

.scale-button-inside:before {
  -webkit-animation: scale 1s ease 1s infinite;
  animation: scale 1s ease 1s infinite;
}

.scale-button:hover .scale-button-inside:before,
.scale-button:hover .scale-button-inside:after {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes scale {
  0% {-webkit-transform: scale(1); }
  50% {-webkit-transform: scale(1.1); }
  100% {-webkit-transform: scale(1); }
}

@keyframes scale {
  0% {transform: scale(1); }
  50% {transform: scale(1.1); }
  100% {transform: scale(1); }
}

.ripple-button-inside:before,
.ripple-button-inside:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0; 
  bottom: 0; 
  left: 0;
  border: 1px solid #BB8FCE;
  background-color: #BFFF00;
}

.ripple-button-inside:before {
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}

.ripple-button-inside:after {
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 2s linear 1s infinite;
}

.scale-button:hover .ripple-button-inside:before,
.scale-button:hover .ripple-button-inside:after {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes ripple {
  0% {-webkit-transform: scale(1); }
  75% {-webkit-transform: scale(1.55); opacity: 1;}
  100% {-webkit-transform: scale(1.75); opacity: 0;}
}

@keyframes ripple {
  0% {transform: scale(1); }
  75% {transform: scale(1.55); opacity: 1;}
  100% {transform: scale(1.75); opacity: 0;}
}
  .rte img {
    height: 1000px!important;
}
  img.page-image {
    width: 100%;
}
  .header-wrapper {
    display: none;
}
  div#shopify-section-footer {
    display: none;
}
  .locale-selectors__container {
    display: none;
}
  
@media only screen and (min-width: 590px) {
.text-us-email header.section-header, .text-us header.section-header, .text-us-social header.section-header {
    margin-bottom: 0;
}
}
.text-us-email h1.sc-75msgg-0.eHPMhJ.header-text.cw-header-text,
.text-us-social h1.sc-75msgg-0.eHPMhJ.header-text.cw-header-text,
.text-us h1.sc-75msgg-0.eHPMhJ.header-text.cw-header-text {
    display: none;
}
.text-us-email h1, .text-us h1, .text-us-social h1 {
  font-weight: 600;
}
</style>