{% section "hero-two-buttons" %}
{% section "featured-collections" %}
{% section "media-queries-hero-no-overlay" %}

<h1 style="margin-top:20px;margin-bottom:20px;text-align:center;color: #cfcfcf;">TLF Overstock</h1>

<style>
  .hero__link.two .animation-contents .btn.btn--small.btn--inverse {
    margin-right: 47px;
    margin-bottom: 102px;
}
  
  div#shopify-section-featured-collections .page-width {
    padding: 0;
    max-width: 1800px;
}
  
  .grid.grid--small-gutters .grid__item.medium-up--one-quarter.small--one-half.collection--tall.skrim__item.aos-init.aos-animate .skrim__title {
    font-size: 26px;
    font-weight: 600;
}
  
  hero__text-content.vertical-bottom .hero__link .btn.btn--small.btn--inverse {
    padding: 24px 36px;
    margin-bottom: 27px;
}
</style>